{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block nav %}
<style type="text/css">
	.posts-form {
		width: 340px;
    	margin: 0px auto;
	}
    .posts-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .posts-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {
        font-size: 15px;
        font-weight: bold;
    }
    textarea {
        padding-top:6px;
        padding-left:8px;
    }
</style>
{% endblock %}

{% block container %}

<div class="posts-form">
    <form action="" method="POST">
        {% csrf_token %}
        <h2 class="text-center">New posts</h2><br>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Title" name="title"><br>
            <input type="text" class="form-control" placeholder="Author" name="author"><br>
            <textarea name="text" cols="40" rows="8" placeholder="Please enter your details." style="width:280px"></textarea>
            {{form.photo}}

        </div>
        <input type="submit" class="btn btn-primary btn-block" value="Save">
    </form>
</div>
{% endblock %}