{% extends 'base.html' %}

{% block title %}
    <title>border</title>
{% endblock %}

{% block nav%}
<style>
    .pagination {
       justify-content: center;
    }
</style>
{% endblock %}

{% block container %}
<center><h1>border</h1></center>
<div class="bordertable">
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">id</th>
            <th scope="col">title</th>
            <th scope="col">author</th>
            <th scope="col">text</th>
            <th scope="col">photo</th>
        </tr>
    </thead>
    <tbody>
      {% for post in border %}
            <tr>
                <th scope="row"></th>
                <td>{{forloop.counter }}</td>
                <td><a href="{% url 'detail' pk=post.id %}">{{post.title}}</a></td>
                <td>{{post.author}}</td>
                <td>{{post.text}}</td>
                <td>{{post.photo}}</td>
                <td>{{post.number}}</td>
                {% if b %}
                ㅅㅅㅅ
                {% endif %}
            </tr>
     {% endfor %}
    </tbody>
</table>
</div>
{% if is_paginated %}
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li>
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
            <span>Prev</span>
          </a>
        </li>
      {% else %}
        <li class="page-item">
          <a href="#" class="page-link">
            <span>Previous</span>
          </a>
        </li>
      {% endif %}

      {% for page in page_range %}
        <li class="page-item" {% if page == page_obj.number %}class="active"{% endif %}>
          <a class="page-link" href="?page={{ page }}">{{ page }}</a>
        </li>
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">
            <span>Next</span>
          </a>
        </li>
      {% else %}
        <li class="page-item" {% if not page_obj.has_next %}class="disabled"{% endif %}>
          <a class="page-link" href="#">
            <span>Next</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
{% endblock %}
