{% extends 'base.html' %}

{% block title %}
    <title>border</title>
{% endblock %}

{% block nav%}
<style>
.pagination {
   justify-content: center;
}
</style>
{% endblock %}

{% block container %}
<center><h1>border</h1></center>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">id</th>
            <th scope="col">title</th>
            <th scope="col">author</th>
            <th scope="col">text</th>
            <th scope="col">photo</th>
        </tr>
    </thead>
    <tbody>
      {% for post in border %}
            <tr>
                <th scope="row"></th>
                <td>{{forloop.counter0|add:border.start_index }}</td>
                <td><a href="{% url 'detail' pk=post.id %}">{{post.title}}</a></td>
                <td>{{post.author}}</td>
                <td>{{post.text}}</td>
                <td>{{post.photo}}</td>
            </tr>
     {% endfor %}
    </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="{{ border.previous_page_number }}">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="{{ border.next_page_number }}">Next</a></li>
  </ul>
</nav>
{% endblock %}
