{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block container %}
{# index photo #}
<center>
    <img src="{% static 'singapore.jpg' %}" class="img-fluid" alt="Responsive image">
    <img src="{% static 'singapore2.jpg' %}" class="img-fluid" alt="Responsive image">
    <img src="{% static 'singapore3.jpg' %}" class="img-fluid" alt="Responsive image">
    <img src="{% static 'singapore4.jpg' %}" class="img-fluid" alt="Responsive image">
</center>
{# index photo #}
{% endblock%}
