       <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
       {% block head %}
       {% endblock %}
       <style>
           .footer{
               padding-left: 200px;
               padding-right: 200px;
           }
       </style>
    {% block title %}
    {% endblock%}
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Travel-History</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarsExample01" style="">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'border' %}">border <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'writing' %}">writing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">profile
    </a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="https://newbiecs.tistory.com/" target="_blank">Blog</a>
              <a class="dropdown-item" href="https://github.com/2044smile" target="_blank">Github</a>
              <a class="dropdown-item" href="#">Contact</a>
            </div>
          </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">account
    </a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="{% url 'login' %}">login</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">logout</a>
                    <a class="dropdown-item" href="{% url 'register' %}">Sign-up</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-md-0" method="get" action="{% url 'search' %}">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="b" value="{{b}}">
        </form>
      </div>
    {% block nav %}
    {% endblock %}
    </nav>


    {% block container %}

    {% endblock %}

       {% block page%}
       {% if is_paginated %}
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li>
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
            <span>Prev</span>
          </a>
        </li>
      {% else %}
        <li class="page-item">
          <a href="#" class="page-link">
            <span>Previous</span>
          </a>
        </li>
      {% endif %}

      {% for page in page_range %}
        <li class="page-item" {% if page == page_obj.number %}class="active"{% endif %}>
          <a class="page-link" href="?page={{ page }}">{{ page }}</a>
        </li>
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">
            <span>Next</span>
          </a>
        </li>
      {% else %}
        <li class="page-item" {% if not page_obj.has_next %}class="disabled"{% endif %}>
          <a class="page-link" href="#">
            <span>Next</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
       {% endblock %}

    {% block footer %}

  <!-- Copyright -->
    <footer class="footer">
      <div class="footer-copyright text-center py-3">copyright is the exclusive right, given to the creator of a work, to reproduce the work, usually for a limited time. Copyright protects the original expression of an idea in the form of a creative work, but not the idea itself. A copyright is subject to limitations based on public interest considerations, such as the fair use doctrine in the United States.
        <a href="https://newbiecs.tistory.com/"> © 2019 Copyright:In law, </a>
      </div>
    </footer>
  <!-- Copyright -->
    {% endblock %}
